<!DOCTYPE html>
<html>
<head>
    <link rel='icon' href="/img/2.png">
    <title>
           
        about
    </title>
    <link rel='stylesheet' href="/css/style.css">
</head>
<body>
    <div class="main">
     {{>header}}
     <p>
         this created by mohammad malatialy as first project on web 
     </p>
    <img class='portrait' src='/img/1.jpg'>   
    </div>

{{>footer}}
</body>

</html>