<!DOCTYPE html>
<html>
<head>
       <link rel='icon' href="/img/2.png">
    <title>
        error
    </title>
 <link rel='stylesheet' href="/css/style.css">
</head>
<body>
    <div class="main">
    {{>header}}
    {{error}}  
    </div>

{{>footer}}
</body>

</html>