<!DOCTYPE html>
<html>
<head>
       <link rel='icon' href="/img/2.png">
    <title>
        Help
    </title>
    <link rel='stylesheet' href="/css/style.css">
</head>
<body>
    <div class="main">
        {{>header}}
    <p>
        {{help_massage}}
    </p>
    </div>

{{>footer}}
</body>

</html>